This data analyzes the PPP data from https://data.sba.gov/dataset/ppp-foia/resource/6dd520ff-c211-404f-b7eb-29784cd4dbda?inner_span=True

In [2]:
import pandas as pd
pd.options.display.max_colwidth = 400
pd.options.display.max_columns = 90

In [4]:
df = pd.read_csv('public_up_to_150k_1_220930.csv')

In [5]:
df.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,ServicingLenderAddress,ServicingLenderCity,ServicingLenderState,ServicingLenderZip,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,ProjectCity,ProjectCountyName,ProjectState,ProjectZip,CD,JobsReported,NAICSCode,Race,Ethnicity,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,3509338307,01/22/2021,NaN,PPS,Exemption 6,NaN,NaN,NaN,NaN,02/18/2022,Paid in Full,60,100,149360.60,149360.60,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,N,N,Existing or more than 2 years old,NaN,NaN,NaN,NaN,NaN,15.0,624190.0,Unanswered,Unknown/NotStated,1.0,149357.60,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,NaN,NaN,NaN,NaN,Unanswered,Unanswered,Y,150775.38,01/13/2022
1,5375617707,05/01/2020,101.0,PPP,NOT AVAILABLE,NaN,NaN,NaN,NaN,07/16/2021,Paid in Full,24,100,148440.00,148440.00,0.0,NaN,9551.0,"Bank of America, National Association","100 N Tryon St, Ste 170",CHARLOTTE,NC,28202-4024,U,N,N,New Business or 2 years or less,NaN,NaN,NaN,NaN,NaN,12.0,339114.0,Unanswered,Unknown/NotStated,NaN,148440.00,NaN,NaN,NaN,NaN,NaN,NaN,9551.0,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,NaN,150083.01,06/11/2021
2,9677497701,05/01/2020,464.0,PPP,NORTH CHARLESTON HOSPITALITY GROUP LLC,192 College Park Rd,Ladson,NaN,29456-3517,09/25/2021,Paid in Full,24,100,140081.78,140081.78,0.0,NaN,19248.0,Synovus Bank,1148 Broadway,COLUMBUS,GA,31901-2429,U,N,N,Existing or more than 2 years old,Ladson,BERKELEY,SC,29456-3517,SC-01,3.0,NaN,Unanswered,Unknown/NotStated,NaN,140081.78,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,141920.11,08/25/2021
3,9547167709,05/01/2020,464.0,PPP,Q AND J SERVICES LLC,301 Old Georgetown Road,Manning,NaN,29102-2734,04/20/2021,Paid in Full,24,100,136520.96,136520.96,0.0,NaN,19248.0,Synovus Bank,1148 Broadway,COLUMBUS,GA,31901-2429,U,Y,Y,Existing or more than 2 years old,Manning,CLARENDON,SC,29102-2734,SC-06,170.0,541990.0,Unanswered,Unknown/NotStated,NaN,136520.96,NaN,NaN,NaN,NaN,NaN,Limited Liability Company(LLC),19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,137747.78,03/29/2021
4,8885207205,04/28/2020,NaN,PPP,Exemption 6,NaN,NaN,NaN,NaN,05/20/2021,Paid in Full,24,100,130600.00,130600.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,U,N,N,Unanswered,NaN,NaN,NaN,NaN,NaN,14.0,624190.0,Unanswered,Unknown/NotStated,NaN,130600.00,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,NaN,NaN,NaN,NaN,Unanswered,Unanswered,Y,131876.98,04/27/2021

In [6]:
df.shape

(900000, 53)

The first section of this table is 900K records.

In [5]:
df.columns

Index(['LoanNumber', 'DateApproved', 'SBAOfficeCode', 'ProcessingMethod',
       'BorrowerName', 'BorrowerAddress', 'BorrowerCity', 'BorrowerState',
       'BorrowerZip', 'LoanStatusDate', 'LoanStatus', 'Term',
       'SBAGuarantyPercentage', 'InitialApprovalAmount',
       'CurrentApprovalAmount', 'UndisbursedAmount', 'FranchiseName',
       'ServicingLenderLocationID', 'ServicingLenderName',
       'ServicingLenderAddress', 'ServicingLenderCity', 'ServicingLenderState',
       'ServicingLenderZip', 'RuralUrbanIndicator', 'HubzoneIndicator',
       'LMIIndicator', 'BusinessAgeDescription', 'ProjectCity',
       'ProjectCountyName', 'ProjectState', 'ProjectZip', 'CD', 'JobsReported',
       'NAICSCode', 'Race', 'Ethnicity', 'UTILITIES_PROCEED',
       'PAYROLL_PROCEED', 'MORTGAGE_INTEREST_PROCEED', 'RENT_PROCEED',
       'REFINANCE_EIDL_PROCEED', 'HEALTH_CARE_PROCEED',
       'DEBT_INTEREST_PROCEED', 'BusinessType', 'OriginatingLenderLocationID',
       'OriginatingLender', 'OriginatingLenderCity', 'OriginatingLenderState',
       'Gender', 'Veteran', 'NonProfit', 'ForgivenessAmount',
       'ForgivenessDate'],
      dtype='object')

In [6]:
df['Race'].value_counts(normalize=True)

Unanswered                                   0.753040
White                                        0.132942
Asian                                        0.050910
Black or African American                    0.049590
American Indian or Alaska Native             0.012229
Native Hawaiian or Other Pacific Islander    0.001262
Multi Group                                  0.000017
Eskimo & Aleut                               0.000009
Puerto Rican                                 0.000001
Name: Race, dtype: float64

In [84]:
df['Ethnicity'].value_counts()

Unknown/NotStated         637661
Not Hispanic or Latino    232552
Hispanic or Latino         29785
Name: Ethnicity, dtype: int64

Of the 900K records, 75% do not indicate race.

What percent of these records are churches (or other religious institutions?)

of the various payment categories, how many are used in our DB of 900K records?

In [89]:
PayCats = ['UTILITIES_PROCEED','PAYROLL_PROCEED','MORTGAGE_INTEREST_PROCEED','RENT_PROCEED','REFINANCE_EIDL_PROCEED','HEALTH_CARE_PROCEED','DEBT_INTEREST_PROCEED']
for cat in PayCats:
    print(f'Category {cat} has {df[cat].isna().sum()} blank rows or {df[cat].isna().sum() / 900000 * 100:.2f} percent of the total.')

Category UTILITIES_PROCEED has 628170 blank rows or 69.80 percent of the total.
Category PAYROLL_PROCEED has 933 blank rows or 0.10 percent of the total.
Category MORTGAGE_INTEREST_PROCEED has 880676 blank rows or 97.85 percent of the total.
Category RENT_PROCEED has 850597 blank rows or 94.51 percent of the total.
Category REFINANCE_EIDL_PROCEED has 891506 blank rows or 99.06 percent of the total.
Category HEALTH_CARE_PROCEED has 880932 blank rows or 97.88 percent of the total.
Category DEBT_INTEREST_PROCEED has 888530 blank rows or 98.73 percent of the total.

In [25]:
df[df['BorrowerName'].str.contains('CHURCH | TEMPLE | MOSQUE | MASJID | SYNAGOGUE | GURUDWARA')][['BorrowerName','CurrentApprovalAmount','ForgivenessAmount','UTILITIES_PROCEED','PAYROLL_PROCEED','NAICSCode']]

,BorrowerName,CurrentApprovalAmount,ForgivenessAmount,UTILITIES_PROCEED,PAYROLL_PROCEED,NAICSCode
697,"RABBIT CREEK COMMUNITY CHURCH OF ANCHORAGE, ALASKA",127730.00,116835.96,NaN,127730.00,813110.0
3373,WASILLA CHRISTIAN CHURCH DBA CREEKSIDE CHURCH,68162.00,68720.37,NaN,68162.00,813110.0
3560,SOLDOTNA CHURCH OF GOD,65510.00,66050.23,1.0,65508.00,813110.0
3659,SOLDOTNA CHURCH OF GOD,64238.32,64829.66,NaN,49988.16,813110.0
4205,"THE FIRST LUTHERAN CHURCH OF KETCHIKAN, AK",58059.00,58435.99,NaN,58059.00,813110.0
...,...,...,...,...,...,...
837965,THE EPISCOPAL CHURCH IN ALMADEN,20886.00,21122.33,NaN,20886.00,813110.0
838738,"ST. PETER'S EPISCOPAL CHURCH IN REDWOOD CITY, CALIFORNIA",20863.92,21084.15,NaN,20863.92,813110.0
865899,GODS CHURCH LLC,20833.00,21120.67,NaN,20832.00,711510.0
895594,DERRICK TEMPLE JR,20833.00,NaN,NaN,20833.00,541320.0
899199,THE JOURNEY A CHURCH FOR THE COMMUNITY O,20833.00,20971.70,NaN,20832.00,813110.0

In [35]:
2638/900000*100

0.2931111111111111

In [24]:
# 813110 is the NAICS code for religious organizations -- https://www.census.gov/naics/?input=813110&year=2022&details=813110
# "This industry comprises (1) establishments primarily engaged in operating religious organizations, such as churches, religious temples, mosques, and monasteries, and/or 
# (2) establishments primarily engaged in administering an organized religion or promoting religious activities."

# this is probably the best / most inclusive way to identify religious organizations in the PPP data. (This came up with 9620 records, whereas my search for religious language in names only 
# found 2638!)
df[df['NAICSCode'] == 813110]

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,ServicingLenderAddress,ServicingLenderCity,ServicingLenderState,ServicingLenderZip,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,ProjectCity,ProjectCountyName,ProjectState,ProjectZip,CD,JobsReported,NAICSCode,Race,Ethnicity,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
32,9772027709,05/01/2020,101.0,PPP,HOLY TRINITY BAPTIST CHURCH,NaN,NaN,NaN,NaN,11/17/2021,Paid in Full,24,100,32625.00,32625.00,0.0,NaN,57328.0,The Huntington National Bank,17 S High St.,COLUMBUS,OH,43215-3413,U,N,N,Unanswered,NaN,NaN,NaN,NaN,NaN,3.0,813110.0,Unanswered,Unknown/NotStated,NaN,32625.00,NaN,NaN,NaN,NaN,NaN,NaN,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,32891.36,03/02/2021
113,9727847709,05/01/2020,101.0,PPP,RHEMA EMPOWERMENT CENTER CHURCH,NaN,NaN,NaN,NaN,08/17/2021,Paid in Full,24,100,9000.00,9000.00,0.0,NaN,57328.0,The Huntington National Bank,17 S High St.,COLUMBUS,OH,43215-3413,U,N,N,Unanswered,NaN,NaN,NaN,NaN,NaN,1.0,813110.0,Unanswered,Unknown/NotStated,NaN,9000.00,NaN,NaN,NaN,NaN,NaN,Professional Association,57328.0,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,9099.37,06/15/2021
198,5175837208,04/27/2020,1084.0,PPP,COVENANT YOUTH OF ALASKA,228 W 11th Ave,Anchorage,AK,99501,04/21/2021,Paid in Full,24,100,148032.50,148032.50,0.0,NaN,116975.0,Northrim Bank,3111 'C' St,ANCHORAGE,AK,99503,U,Y,Y,Existing or more than 2 years old,Anchorage,ANCHORAGE,AK,99501-0999,AK-,12.0,813110.0,Unanswered,Unknown/NotStated,NaN,148032.50,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,116975.0,Northrim Bank,ANCHORAGE,AK,Male Owned,Unanswered,Y,149261.37,03/02/2021
300,2355348508,02/20/2021,1084.0,PPS,ST. JOHN UNITED METHODIST CHURCH,1801 Omalley Rd,Anchorage,AK,99507-7304,01/06/2022,Paid in Full,60,100,143092.00,143092.00,0.0,NaN,3386.0,First National Bank Alaska,101 W 36th Ave,ANCHORAGE,AK,99503-5904,U,N,Y,Existing or more than 2 years old,Anchorage,ANCHORAGE,AK,99507-7304,AK-,28.0,813110.0,Unanswered,Unknown/NotStated,NaN,143092.00,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,3386.0,First National Bank Alaska,ANCHORAGE,AK,Unanswered,Unanswered,Y,144287.70,12/29/2021
552,2179217203,04/15/2020,1084.0,PPP,LIGHTHOUSE CHRISTIAN FELLOWSHIP,615 HOLLYWOOD DRIVE,ANCHORAGE,AK,99501,05/12/2021,Paid in Full,24,100,133821.53,133821.53,0.0,NaN,3386.0,First National Bank Alaska,101 W 36th Ave,ANCHORAGE,AK,99503-5904,U,N,Y,Existing or more than 2 years old,ANCHORAGE,ANCHORAGE,AK,99501-0999,AK-,7.0,813110.0,Unanswered,Unknown/NotStated,NaN,120821.53,NaN,13000.0,NaN,NaN,NaN,Non-Profit Organization,3386.0,First National Bank Alaska,ANCHORAGE,AK,Unanswered,Unanswered,Y,135126.75,04/13/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877932,4667838805,04/16/2021,914.0,PPS,LEVI WADE,212 w 73rd street,Los Angeles,CA,90003,NaN,Exemption 4,60,100,20833.00,20833.00,0.0,NaN,509316.0,"Harvest Small Business Finance, LLC",24422 Avenida de la Carlota Suite 232,Laguna Hills,CA,92653,U,Y,Y,Existing or more than 2 years old,Los Angeles,LOS ANGELES,CA,90003,CA-37,1.0,813110.0,Unanswered,Unknown/NotStated,NaN,20833.00,NaN,NaN,NaN,NaN,NaN,Self-Employed Individuals,509316.0,"Harvest Small Business Finance, LLC",Laguna Hills,CA,Unanswered,Unanswered,NaN,NaN,NaN
879981,4895588706,04/01/2021,912.0,PPP,GENEIVEVE PIERTE,1323 Steinbeck Dr,Pittsburg,CA,94565-3665,10/22/2021,Paid in Full,60,100,20833.00,20833.00,0.0,NaN,529652.0,"Amur Equipment Finance, Inc.","308 N. Locust St, Suite 100",Grand Island,NE,68801,U,Y,Y,Existing or more than 2 years old,Pittsburg,CONTRA COSTA,CA,94565-3665,CA-11,1.0,813110.0,Black or African American,Not Hispanic or Latino,1.0,20830.00,NaN,NaN,NaN,NaN,NaN,Sole Proprietorship,529652.0,"Amur Equipment Finance, Inc.",Grand Island,NE,Female Owned,Non-Veteran,NaN,20930.80,09/22/2021
881530,5085457807,05/29/2020,912.0,PPP,EQUIPNET INC,1510 HILLGRADE AVE,ALAMO,CA,94507-2603,06/10/2021,Paid in Full,24,100,20833.00,20833.00,0.0,NaN,12096.0,"Wells Fargo Bank, National Association",101 N Philips Ave,SIOUX FALLS,SD,57104-6738,U,N,N,Existing or more than 2 years old,ALAMO,CONTRA COSTA,CA,94507-2603,CA-11,3.0,813110.0,Unanswered,Unknown/NotStated,NaN,20833.00,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,12096.0,"Wells Fargo Bank, National Association",SIOUX FALLS,SD,Unanswered,Unanswered,Y,21022.49,04/30/2021
893189,6186478410,02/10/2021,912.0,PPS,AHRON HECHT,423 10th Ave,San Francisco,CA,94118-2914,10/16/2021,Paid in Full,60,100,20833.00,20833.00,0.0,NaN,530323.0,"A10Capital, LLC","800 West Main Street, Suite 400",Boise,ID,83702,U,N,Y,Existing or more than 2 years old,San Francisco,SAN FRANCISCO,CA,94118-2914,CA-12,1.0,813110.0,Unanswered,Unknown/NotStated,NaN,20832.00,NaN,NaN,NaN,NaN,NaN,Independent Contractors,530323.0,"A10Capital, LLC",Boise,ID,Unanswered,Unanswered,NaN,20953.43,09/13/2021
899199,6663958405,02/10/2021,920.0,PPS,THE JOURNEY A CHURCH FOR THE COMMUNITY O,23655 Via del Rio,Yorba Linda,CA,92887-2718,11/19/2021,Paid in Full,60,100,20833.00,20833.00,0.0,NaN,5479.0,Farmers & Merchants Bank of Long Beach,302 Pine Ave,LONG BEACH,CA,90802-2326,U,N,N,Existing or more than 2 years old,Yorba Linda,ORANGE,CA,92887-2718,CA-39,4.0,813110.0,Unanswered,Not Hispanic or Latino,NaN,20832.00,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,5479.0,Farmers & Merchants Bank of Long Beach,LONG BEACH,CA,Male Owned,Non-Veteran,Y,20971.70,10/20/2021

So 0.29% of all the PPP loans were disbursed to religious organizations.

Is there a pattern in what sorts of businesses identifed a race?

In [123]:
df['BusinessType'].value_counts(normalize=True)

Corporation                            0.298651
Sole Proprietorship                    0.257966
Limited  Liability Company(LLC)        0.182752
Subchapter S Corporation               0.107975
Self-Employed Individuals              0.055855
Independent Contractors                0.044581
Non-Profit Organization                0.020716
Partnership                            0.013698
Limited Liability Partnership          0.006135
Single Member LLC                      0.004422
Professional Association               0.003826
Cooperative                            0.001087
501(c)3 – Non Profit                   0.000949
501(c)6 – Non Profit Membership        0.000469
Trust                                  0.000273
Non-Profit Childcare Center            0.000264
Tenant in Common                       0.000129
Qualified Joint-Venture (spouses)      0.000093
Joint Venture                          0.000088
Employee Stock Ownership Plan(ESOP)    0.000043
Tribal Concerns                        0.000011
501(c)19 – Non Profit Veterans         0.000007
501(c) – Non Profit except 3,4,6,      0.000006
Rollover as Business Start-Ups (ROB    0.000002
Name: BusinessType, dtype: float64

There are wide array of business types, many have very few respondants.
Corporations (29.8%), Sole Proprietorship (25.8%), LLC (18.3%), and Subchapter S (10.8%) are 85% of the total.

Is there a pattern for those that reported entered a value for "Race"?

In [92]:
noRace = df[df['Race'] == 'Unanswered']['BusinessType'].value_counts().sort_index()

In [93]:
yesRace = df[df['Race'] != 'Unanswered']['BusinessType'].value_counts().sort_index()

In [113]:
BusTypePctRace = pd.concat([noRace,yesRace],axis=1).reset_index()
BusTypePctRace

                                  index  BusinessType  BusinessType
0     501(c) – Non Profit except 3,4,6,             4           1.0
1        501(c)19 – Non Profit Veterans             5           1.0
2                  501(c)3 – Non Profit           713         141.0
3       501(c)6 – Non Profit Membership           321         101.0
4                           Cooperative           714         264.0
5                           Corporation        199031       69709.0
6   Employee Stock Ownership Plan(ESOP)            24          15.0
7               Independent Contractors         27513       12603.0
8                         Joint Venture            62          17.0
9       Limited  Liability Company(LLC)        124090       40359.0
10        Limited Liability Partnership          4311        1210.0
11          Non-Profit Childcare Center           197          41.0
12              Non-Profit Organization         16413        2228.0
13                          Partnership          9916        2410.0
14             Professional Association          2878         565.0
15    Qualified Joint-Venture (spouses)            75           9.0
16  Rollover as Business Start-Ups (ROB             2           NaN
17            Self-Employed Individuals         43119        7142.0
18                    Single Member LLC          3241         738.0
19                  Sole Proprietorship        168956       63174.0
20             Subchapter S Corporation         75681       21480.0
21                     Tenant in Common           109           7.0
22                      Tribal Concerns             5           5.0
23                                Trust           205          41.0

In [114]:
BusTypePctRace.columns.values[1] = 'NoRaceRpt'
BusTypePctRace.columns.values[2] = 'RaceRpt'
BusTypePctRace.columns.values[0] = 'BusType'

#BusTypePctRace.rename(columns = {BusTypePctRace.columns[1]:'NoRaceRpt', 
#                                 BusTypePctRace.columns[2]:'RaceRpt',
#                                'index':'BusType'},inplace=True)

In [115]:
BusTypePctRace.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   BusType    24 non-null     object
 1   NoRaceRpt  24 non-null     int64
 2   RaceRpt    23 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 704.0+ bytes

In [118]:
BusTypePctRace['PctNoRace'] = BusTypePctRace['NoRaceRpt'] / 9000

In [119]:
BusTypePctRace['PctRace'] = BusTypePctRace['RaceRpt']/9000

In [120]:
BusTypePctRace

,BusType,NoRaceRpt,RaceRpt,PctNoRace,PctRace
0,"501(c) – Non Profit except 3,4,6,",4,1.0,0.000444,0.000111
1,501(c)19 – Non Profit Veterans,5,1.0,0.000556,0.000111
2,501(c)3 – Non Profit,713,141.0,0.079222,0.015667
3,501(c)6 – Non Profit Membership,321,101.0,0.035667,0.011222
4,Cooperative,714,264.0,0.079333,0.029333
5,Corporation,199031,69709.0,22.114556,7.745444
6,Employee Stock Ownership Plan(ESOP),24,15.0,0.002667,0.001667
7,Independent Contractors,27513,12603.0,3.057000,1.400333
8,Joint Venture,62,17.0,0.006889,0.001889
9,Limited Liability Company(LLC),124090,40359.0,13.787778,4.484333
10,Limited Liability Partnership,4311,1210.0,0.479000,0.134444
11,Non-Profit Childcare Center,197,41.0,0.021889,0.004556
12,Non-Profit Organization,16413,2228.0,1.823667,0.247556
13,Partnership,9916,2410.0,1.101778,0.267778
14,Professional Association,2878,565.0,0.319778,0.062778
15,Qualified Joint-Venture (spouses),75,9.0,0.008333,0.001000
16,Rollover as Business Start-Ups (ROB,2,NaN,0.000222,NaN
17,Self-Employed Individuals,43119,7142.0,4.791000,0.793556
18,Single Member LLC,3241,738.0,0.360111,0.082000
19,Sole Proprietorship,168956,63174.0,18.772889,7.019333
20,Subchapter S Corporation,75681,21480.0,8.409000,2.386667
21,Tenant in Common,109,7.0,0.012111,0.000778
22,Tribal Concerns,5,5.0,0.000556,0.000556
23,Trust,205,41.0,0.022778,0.004556

Of the four major categories, there are significant differences in the percent of all records that reported race:

Type                NoRace Rep      Race Rpt
Corporation             22.1%       7.74
Sole Prop               18.77       7.02
LLC                     13.79       4.48
Subchapter S            8.41        2.39

Overall, the majority of different business types didn't report a racial category.
Is this true for Black Churches (BCS)?

We will start with looking for AME / AMEZ churches as a test case.

In [22]:
df[df['BorrowerName'].str.contains('AFRICAN METHODIST')][['Race','BorrowerName','BusinessType']]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

How many null (NAN) values do we have? If small, we will just drop them:

In [23]:
df['BorrowerName'].isna().sum()

2

In [7]:
df = df.dropna(subset = ['BorrowerName'])

In [25]:
df[df['BorrowerName'].str.contains('AFRICAN METHODIST')][['Race','BorrowerName','BusinessType']]

,Race,BorrowerName,BusinessType
19967,Unanswered,REORGANIZED SAINT JAMES TEMPLE AFRICAN METHODI...,Non-Profit Organization
42228,Unanswered,TRINITY AFRICAN METHODIST EPISCOPAL CHURCH,Non-Profit Organization
142067,Unanswered,PAYNE CHAPEL AFRICAN METHODIST EPISCOPAL CHURC...,Non-Profit Organization
244018,Unanswered,BETHEL AFRICAN METHODIST EPISCOPAL CHURCH OF L...,Non-Profit Organization
249603,Unanswered,ST. JOHN AFRICAN METHODIST EPISCOPAL CHURCH INC.,Employee Stock Ownership Plan(ESOP)
249646,Unanswered,"ST. JOHN AFRICAN METHODIST EPISCOPAL CHURCH, INC.",Employee Stock Ownership Plan(ESOP)
258596,Black or African American,UNITY AFRICAN METHODIST EPISCOPAL CHURCH,Non-Profit Organization
261727,Unanswered,MOUNT OLIVE AFRICAN METHODIST EPISOPAL CHURCH,Non-Profit Organization
449852,Black or African American,FIRST AFRICAN METHODIST EPISCOPAL,Corporation
460324,Black or African American,FIRST AFRICAN METHODIST EPISCOPAL,Corporation
669928,Unanswered,FIRST AFRICAN METHODIST EPISOCPAL CHURC,Non-Profit Organization
715327,Unanswered,UNIVERSITY AFRICAN METHODIST EPISCOPAL ZION CH...,501(c)3 – Non Profit
727495,Black or African American,BETHEL AFRICAN METHODIST EPISCOPAL CHURCH OXNARD,501(c)3 – Non Profit
734709,Black or African American,BETHEL AFRICAN METHODIST EPISCOPAL CHURCH OXNARD,501(c)3 – Non Profit
784812,Unanswered,WARD AFRICAN METHODIST EPISCOPAL CHURCH,Non-Profit Organization

According to Frontline(https://www.pbs.org/wgbh/americanexperience/features/godinamerica-black-church/):Today "the black church" is widely understood to include the following seven major black Protestant denominations: the National Baptist Convention, the National Baptist Convention of America, the Progressive National Convention, the African Methodist Episcopal Church, the African Methodist Episcopal Zion Church, the Christian Methodist Episcopal Church and the Church of God in Christ.

So let's look for those seven denoms.

In [23]:
df[df['BorrowerName'].str.contains('NATIONAL BAPTIST | PROGRESSIVE NATIONAL | AFRICAN METHODIST | METHODIST EPISCOPAL | CHURCH OF GOD IN CHRIST')] \
    [['Race','BorrowerName','BusinessType','CurrentApprovalAmount','ForgivenessAmount','NAICSCode']]

,Race,BorrowerName,BusinessType,CurrentApprovalAmount,ForgivenessAmount,NAICSCode
18274,Unanswered,"FIRST CHRISTIAN METHODIST EPISCOPAL CHURCH, INC.",Non-Profit Organization,6100.00,6170.19,813110.0
18690,Unanswered,FIRST CHRISTIAN METHODIST EPISCOPAL CHURCH INC.,Non-Profit Organization,5416.00,NaN,813110.0
19967,Unanswered,REORGANIZED SAINT JAMES TEMPLE AFRICAN METHODIST EPISCOPAL Z,Non-Profit Organization,3250.00,3287.40,813110.0
42228,Unanswered,TRINITY AFRICAN METHODIST EPISCOPAL CHURCH,Non-Profit Organization,44876.00,45171.43,813110.0
53596,Unanswered,THOMASVILLE CHURCH OF GOD IN CHRIST,Non-Profit Organization,28000.00,28189.00,813110.0
102550,Black or African American,FOUNTAIN OF LIFE MINISTRIES CHURCH OF GOD IN CHRIST,Professional Association,18298.00,18500.29,813110.0
104200,Black or African American,HARRIS TEMPLE CHURCH OF GOD IN CHRIST,Non-Profit Organization,17787.50,17941.01,813110.0
105987,American Indian or Alaska Native,CAPITOL CITY CHURCH OF GOD IN CHRIST,Professional Association,17200.00,17418.65,813110.0
106014,Unanswered,CAPITOL CITY CHURCH OF GOD IN CHRIST,Professional Association,17200.00,17386.14,813110.0
127226,Unanswered,RESTORATION PLACE CHURCH OF GOD IN CHRIST,Non-Profit Organization,11250.00,11398.25,813110.0
128077,Unanswered,GRACE COVENANT CHURCH OF GOD IN CHRIST,Non-Profit Organization,11000.00,11110.00,813110.0
136479,Unanswered,GOSPEL TABERNACLE CHURCH OF GOD IN CHRIST,Non-Profit Organization,9115.00,9189.95,813110.0
141345,Unanswered,NEW LIFE INTERNATIONAL BAPTIST CHURCH INC.,501(c)3 – Non Profit,8060.40,8088.84,813110.0
142067,Unanswered,PAYNE CHAPEL AFRICAN METHODIST EPISCOPAL CHURCH OF BIRMINGHA,Non-Profit Organization,7900.00,7942.35,236220.0
142261,Unanswered,FERGUSON CHAPEL CHRISTIAN METHODIST EPISCOPAL CHURCH,501(c)3 – Non Profit,7852.00,7898.90,813110.0
154864,American Indian or Alaska Native,GRACE TABERNACLE CHURCH OF GOD IN CHRIST,Non-Profit Organization,5222.00,5301.55,813110.0
155275,American Indian or Alaska Native,GRACE TABERNACLE CHURCH OF GOD IN CHRIST,Non-Profit Organization,5200.00,5257.98,813110.0
204179,Unanswered,MARION CHURCH OF GOD IN CHRIST,501(c)3 – Non Profit,20922.00,21122.62,813110.0
224046,Black or African American,FIRST TRINITY CHURCH OF GOD IN CHRIST,501(c)3 – Non Profit,18600.00,18658.60,813110.0
226435,Unanswered,NEW CALVARY TEMPLE CHURCH OF GOD IN CHRIST,Corporation,17250.82,17362.83,813110.0
228306,Unanswered,MILLERS TEMPLE CHURCH OF GOD IN CHRIST,501(c)3 – Non Profit,16210.00,16285.20,813110.0
244018,Unanswered,"BETHEL AFRICAN METHODIST EPISCOPAL CHURCH OF LITTLE ROCK, AR",Non-Profit Organization,9389.50,9457.67,813110.0
249603,Unanswered,ST. JOHN AFRICAN METHODIST EPISCOPAL CHURCH INC.,Employee Stock Ownership Plan(ESOP),7500.00,7541.67,236220.0
249646,Unanswered,"ST. JOHN AFRICAN METHODIST EPISCOPAL CHURCH, INC.",Employee Stock Ownership Plan(ESOP),7500.00,7540.62,813110.0
250166,Unanswered,PROMISELAND CHURCH OF GOD IN CHRIST,Non-Profit Organization,7312.50,7373.84,813110.0
255221,Black or African American,TABERNACLE OF FAITH CHURCH OF GOD IN CHRIST,501(c)3 – Non Profit,5875.00,5900.27,813110.0
258596,Black or African American,UNITY AFRICAN METHODIST EPISCOPAL CHURCH,Non-Profit Organization,5000.00,5034.72,813110.0
261727,Unanswered,MOUNT OLIVE AFRICAN METHODIST EPISOPAL CHURCH,Non-Profit Organization,4200.00,4260.90,813110.0
298500,Unanswered,ANTIOCH CHURCH OF GOD IN CHRIST INC,Non-Profit Organization,55295.00,49326.95,813110.0
350316,Unanswered,REHOBOTH SAINTS CENTER CHURCH OF GOD IN CHRIST,Limited Liability Company(LLC),20125.00,20276.08,813110.0
395253,Unanswered,GREATER NEW BETHEL CHURCH OF GOD IN CHRIST INC,Non-Profit Organization,7797.00,7852.11,813110.0
449852,Black or African American,FIRST AFRICAN METHODIST EPISCOPAL,Corporation,130595.00,131700.59,813110.0
454076,Unanswered,LIFE CHURCH OF GOD IN CHRIST,Non-Profit Organization,126897.00,127654.86,813110.0
460324,Black or African American,FIRST AFRICAN METHODIST EPISCOPAL,Corporation,122142.00,123340.00,813110.0
488802,Unanswered,"LIFE CHURCH OF GOD IN CHRIST, INC.",Non-Profit Organization,102107.50,103352.14,813110.0
500680,Unanswered,"GREATER GLAD TIDINGS CHURCH OF GOD IN CHRIST, HAYWARD",Non-Profit Organization,95600.00,96514.09,813110.0
539605,Unanswered,NEW ANTIOCH CHURCH OF GOD IN CHRIST,Non-Profit Organization,77286.00,77798.42,813110.0
544010,Unanswered,BEEBE MEMORIAL CHRISTIAN METHODIST EPISCOPAL CATHEDRAL,Non-Profit Organization,75400.00,76302.73,813110.0
626854,Unanswered,BREAKTHROUGH CHURCH OF GOD IN CHRIST,Non-Profit Organization,50851.00,NaN,999990.0
669928,Unanswered,FIRST AFRICAN METHODIST EPISOCPAL CHURC,Non-Profit Organization,42069.00,42429.76,813110.0
676905,Unanswered,"ST. STEPHEN'S CHURCH OF GOD IN CHRIST OF SAN DIEGO, CALIFORN",Professional Association,41255.00,41681.11,812990.0
685361,Unanswered,BREAKTHROUGH CHURCH OF GOD IN CHRIST,Non-Profit Organization,39887.00,40172.22,813110.0
715327,Unanswered,UNIVERSITY AFRICAN METHODIST EPISCOPAL ZION CHURCH,501(c)3 – Non Profit,35000.00,35317.92,813110.0
727495,Black or African American,BETHEL AFRICAN METHODIST EPISCOPAL CHURCH OXNARD,501(c)3 – Non Profit,33140.00,33241.26,813110.0
734709,Black or African American,BETHEL AFRICAN METHODIST EPISCOPAL CHURCH OXNARD,501(c)3 – Non Profit,32165.00,32450.02,813110.0
741640,Unanswered,GREATER SHILOH CHURCH OF GOD IN CHRIST,Professional Association,31250.00,23205.60,813110.0
784812,Unanswered,WARD AFRICAN METHODIST EPISCOPAL CHURCH,Non-Profit Organization,26200.00,26441.18,813110.0
813142,Unanswered,LEWIS METROPOLITAN CHRISTIAN METHODIST EPISCOPAL CHURCH OF L,Professional Association,23300.00,23514.49,813110.0
816859,Black or African American,GREATER SHILOH CHURCH OF GOD IN CHRIST,Professional Association,22907.00,23024.99,813110.0

This data shows that there is not a consistent pattern for when a BC provides a value for the "Race" race column. So we can't search for race to identify these groups.

It is interesting that ALL the matches in the 900K database show up here. This seems to be a rather short list -- how many entries are there?

In [37]:
len(df[df['BorrowerName'].str.contains('NATIONAL BAPTIST | PROGRESSIVE NATIONAL | AFRICAN METHODIST | METHODIST EPISCOPAL | CHURCH OF GOD IN CHRIST')] )

49

So of the 2,649 groups identified as religious organizations, only 49 were HBC's? That's 1.85% of the total number of ROs.

What percent of the 2020 national data did these groups comprise? Fortunately, 2020 had the survey of American religious congregrations. So at the same time the PPP loans were being disbursed, there was a survey to find information about religious congregrations. So let's get some of thaat data to see what percent of Am congreg belong to one of these seven traditions.

In [8]:
natl = pd.read_excel('/home/alp/Google Drive/Python/analysis/MappingReligion2020/2020 USRC Group Detail_0.xlsx',sheet_name = '2020 Group by Nation')

In [40]:
natl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   GROUP CODE                         373 non-null    object
 1   GROUP NAME                         372 non-null    object
 2   CONGREGATIONS                      373 non-null    float64
 3   ADHERENTS                          217 non-null    float64
 4   Adherents as % of Total Adherents  217 non-null    float64
 5   Adherents as % of Population       217 non-null    float64
dtypes: float64(4), object(2)
memory usage: 17.7+ KB

In [41]:
natl.head()

,GROUP CODE,GROUP NAME,CONGREGATIONS,ADHERENTS,Adherents as % of Total Adherents,Adherents as % of Population
0,326,(Original) Church of God,15.0,NaN,NaN,NaN
1,001,Advent Christian Church,249.0,17780.0,0.000110,0.000054
2,003,African Methodist Episcopal Church,3667.0,1059888.0,0.006568,0.003198
3,005,African Methodist Episcopal Zion Church,1587.0,304704.0,0.001888,0.000919
4,FHJ,Agape Christian Fellowship,21.0,2616.0,0.000016,0.000008

In [42]:
natl.tail()

,GROUP CODE,GROUP NAME,CONGREGATIONS,ADHERENTS,Adherents as % of Total Adherents,Adherents as % of Population
369,FD9,Wisler Mennonite Conference (Ohio),5.0,644.0,0.000004,0.000002
370,FE1,Wisler Mennonite Conference (Ohio-Indiana),10.0,1753.0,0.000011,0.000005
371,490,Zoroastrian,33.0,NaN,NaN,NaN
372,NaN,NaN,NaN,NaN,NaN,NaN
373,Totals,NaN,356723.0,161371931.0,1.000000,0.486868

Drop the last two rows in the table (which don't have GROUP NAME values:

In [9]:
natl = natl.dropna(subset = ['GROUP NAME'])

According to this spreadsheet, there are 356,723 congs in the USA. How many are among the HBCs?

In [138]:
hbcs = 0
hbc_list = ['National Baptist','Progressive National','African Methodist Episcopal','Church of God in Christ']
print(f'{"Name":<50}{"N Cong":<10}')
for name in hbc_list:
    #print(name)

    for row in natl[natl['GROUP NAME'].str.contains(name)].iterrows():
        print(f'{row[1][1]:<50} {row[1][2]:<10}') #.row[1][1],row[1][2] )
        hbcs += row[1][2]

print(f'Total number of cong in the BC family {hbcs}.')

Name                                              N Cong
National Baptist Convention of America, Inc.       389.0
National Baptist Convention, USA, Inc.             2530.0
Progressive National Baptist Convention, Inc.      363.0
Progressive National Baptist Convention, Inc.      363.0
African Methodist Episcopal Church                 3667.0
African Methodist Episcopal Zion Church            1587.0
Church of God in Christ                            3313.0
Church of God in Christ, Mennonite                 170.0
Total number of cong in the BC family 12382.0.

Why are PNBC double counted? Let's subtract one value and calculate the percent of the total N of cong:

In [83]:
(12382-363)/356723 * 100

3.369280926657378

So in the census of congregrations, the 7 BC families comprise about 3.37% of all congregrations in the USA.

Recall that in the PPO data, of the money disbursed to 2,638 (0.29% of the total PPO) religious organizations, 1.85% was disbursed to congs in the BC family.

There maybe innoculous explainations for this disparity (perhaps the BCs have smaller staffs or unpaid ministers) but at least part of the explanation must be the difficulty of applying for PPO funds. To do so required some familarity with the banking industry, legal knowledge helped, etc.

As a check on this, let's see what Episcopal Church and Jewish groups look like (these groups have higher-than-average education and income levels; see the PEW religious landscape survey data for information about this). What percent of the national group do they represent? Did they get this amount from the PPO pool or a higher number?

In [10]:
jewish = 0

print(f'{"Name":<50}{"N Cong":<10}')
for row in natl[natl['GROUP NAME'].str.contains('Judaism')].iterrows():
        print(f'{row[1][1]:<50} {row[1][2]:<10}') #.row[1][1],row[1][2] )
        jewish += row[1][2]

print(f'Total number of cong in the Jewish family {jewish}.')

Name                                              N Cong
Chabad Judaism                                     953.0
Conservative Judaism                               529.0
Independent Judaism                                130.0
Orthodox Judaism                                   914.0
Reconstructionist Judaism                          90.0
Reform Judaism                                     690.0
Total number of cong in the Jewish family 3306.0.

So there are 3,306 Jewish congs in the cong survey data --> 0.925% of all congs.

There are 6,353 Episcopal Church congs (this is easy to read from the spreadsheet). 
This is 1.781% of all congs.

Now, how many relig org (total: 2,638) PPO loans went to each of these organizations?

In [17]:
df[(df['BorrowerName'].str.contains('SYNAGOGUE | JEWISH | ISRAEL')) & (df['BusinessType'] == 'Non-Profit Organization')]

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,LoanStatus,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,FranchiseName,ServicingLenderLocationID,ServicingLenderName,ServicingLenderAddress,ServicingLenderCity,ServicingLenderState,ServicingLenderZip,RuralUrbanIndicator,HubzoneIndicator,LMIIndicator,BusinessAgeDescription,ProjectCity,ProjectCountyName,ProjectState,ProjectZip,CD,JobsReported,NAICSCode,Race,Ethnicity,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
11252,7293288303,01/28/2021,1084.0,PPS,ALASKA JEWISH HISTORICAL MUSEUM,1117 E 35th Ave,Anchorage,AK,99508-4258,01/06/2022,Paid in Full,60,100,20827.00,20827.00,0.0,NaN,3386.0,First National Bank Alaska,101 W 36th Ave,ANCHORAGE,AK,99503-5904,U,N,N,Existing or more than 2 years old,Anchorage,ANCHORAGE,AK,99508-4258,AK-,3.0,713990.0,Unanswered,Unknown/NotStated,1.00,20825.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,3386.0,First National Bank Alaska,ANCHORAGE,AK,Unanswered,Unanswered,Y,21003.32,12/16/2021
12695,8522977203,04/28/2020,1084.0,PPP,ALASKA JEWISH HISTORICAL MUSEUM AND CULTURAL CENTER,1117 E 35th Ave,ANCHORAGE,AK,99508,08/07/2021,Paid in Full,24,100,17199.34,17199.34,0.0,NaN,3386.0,First National Bank Alaska,101 W 36th Ave,ANCHORAGE,AK,99503-5904,U,N,N,Existing or more than 2 years old,ANCHORAGE,ANCHORAGE,AK,99508-0002,AK-,3.0,813110.0,Unanswered,Unknown/NotStated,704.04,14876.3,NaN,1619.0,NaN,NaN,NaN,Non-Profit Organization,3386.0,First National Bank Alaska,ANCHORAGE,AK,Unanswered,Unanswered,Y,17403.85,07/09/2021
21226,1761037209,04/15/2020,459.0,PPP,N E MILES JEWISH DAY SCHOOL,4000 MONTCLAIR RD,BIRMINGHAM,AL,35213-2412,02/18/2021,Paid in Full,24,100,149537.50,149537.50,0.0,NaN,19248.0,Synovus Bank,1148 Broadway,COLUMBUS,GA,31901-2429,U,N,N,Existing or more than 2 years old,BIRMINGHAM,JEFFERSON,AL,35213-2412,AL-06,21.0,611699.0,Unanswered,Unknown/NotStated,NaN,149537.5,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,Y,150623.18,01/07/2021
21227,4533898403,02/06/2021,459.0,PPS,NE MILES JEWISH DAY SCHOOL,4000 Montclair Rd,Birmingham,AL,35213-2412,04/15/2022,Paid in Full,60,100,149537.50,149537.50,0.0,NaN,19248.0,Synovus Bank,1148 Broadway,COLUMBUS,GA,31901-2429,U,N,N,Existing or more than 2 years old,Birmingham,JEFFERSON,AL,35213-2412,AL-06,16.0,611699.0,Unanswered,Unknown/NotStated,1.00,149535.5,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,19248.0,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,Y,151143.49,03/16/2022
21510,7412607006,04/07/2020,459.0,PPP,BIRMINGHAM JEWISH FEDERATION,3966 MONTCLAIR RD,MOUNTAIN BRK,AL,35213-2413,06/05/2021,Paid in Full,24,100,146000.00,146000.00,0.0,NaN,434138.0,ServisFirst Bank,2500 Woodcrest Place,BIRMINGHAM,AL,35209-1374,U,N,N,Existing or more than 2 years old,MOUNTAIN BRK,JEFFERSON,AL,35213-2413,AL-06,8.0,813211.0,Unanswered,Unknown/NotStated,NaN,146000.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,434138.0,ServisFirst Bank,BIRMINGHAM,AL,Unanswered,Unanswered,Y,147650.61,05/26/2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813260,5547557307,04/30/2020,914.0,PPP,TEMPLE BETH ISRAEL OF HIGHLAND PARK AND EAGLE ROCK,5711 MONTE VISTA ST,LOS ANGELES,CA,90042-3427,11/19/2020,Paid in Full,24,100,23292.00,23292.00,0.0,NaN,92611.0,"Banc of California, National Association","3 MacArthur Pl, Ste 100",SANTA ANA,CA,92707-6068,U,Y,Y,Unanswered,LOS ANGELES,LOS ANGELES,CA,90042-3427,CA-34,5.0,813110.0,Unanswered,Unknown/NotStated,1165.00,22127.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,92611.0,"Banc of California, National Association",SANTA ANA,CA,Unanswered,Unanswered,Y,23396.02,11/02/2020
816045,2955067907,06/12/2020,931.0,PPP,MIKVAH TAHARAS ISRAEL CONGREDGATION DBA VAAD OF NORTHERN CAL,3316. Mayfair Drive,Sacramento,CA,95864-3804,03/18/2022,Paid in Full,60,100,22994.00,22994.00,0.0,NaN,121536.0,Customers Bank,99 Bridge St,PHOENIXVILLE,PA,19460-3411,U,N,N,Existing or more than 2 years old,Sacramento,SACRAMENTO,CA,95864-3804,CA-07,5.0,813110.0,Unanswered,Unknown/NotStated,NaN,22994.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,121536.0,Customers Bank,PHOENIXVILLE,PA,Unanswered,Unanswered,Y,23321.59,11/17/2021
823200,5016457302,04/30/2020,914.0,PPP,UNION OF MESSIANIC JEWISH CONGREGATIONS,3717 E. Thousand Oaks Blvd Suite 305,Westlake Village,CA,91362,10/16/2021,Paid in Full,24,100,22297.00,22297.00,0.0,NaN,456756.0,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,U,N,N,Unanswered,Westlake Village,VENTURA,CA,91362-1000,CA-26,3.0,813110.0,Unanswered,Unknown/NotStated,NaN,22297.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,456756.0,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,Y,22601.22,09/15/2021
832804,7061108503,03/05/2021,912.0,PPS,SILICON VALLEY JEWISH FILM FESTIVAL,690 W Fremont Ave,Sunnyvale,CA,94087-4200,10/08/2021,Paid in Full,60,100,21292.00,21292.00,0.0,NaN,11822.0,"MUFG Union Bank, National Association",350 California St,SAN FRANCISCO,CA,94104,U,N,N,Existing or more than 2 years old,Sunnyvale,SANTA CLARA,CA,94087-4200,CA-17,1.0,512131.0,Unanswered,Unknown/NotStated,NaN,21292.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,11822.0,"MUFG Union Bank, National Association",SAN FRANCISCO,CA,Unanswered,Unanswered,Y,21402.84,09/17/2021
836586,8325788409,02/13/2021,914.0,PPS,UNION OF MESSIANIC JEWISH CONGREGATIONS,3717 E Thousand Oaks Blvd Ste 305,Westlake Village,CA,91362-3607,08/18/2021,Paid in Full,60,100,20995.00,20995.00,0.0,NaN,456756.0,Cross River Bank,885 Teaneck Rd,TEANECK,NJ,07666-4546,U,N,N,Existing or more than 2 years old,Westlake Village,VENTURA,CA,91362-3607,CA-26,3.0,813110.0,Unanswered,Unknown/NotStated,1.00,20993.0,NaN,NaN,NaN,NaN,NaN,Non-Profit Organization,456756.0,Cross River Bank,TEANECK,NJ,Unanswered,Unanswered,Y,21068.05,07/02/2021

In [19]:
df['BorrowerState'].value_counts()

CA    470222
AL    158648
AZ    153454
AR     96184
AK     21031
AS       304
AE         4
Name: BorrowerState, dtype: int64

In [20]:
# OK, so we need to get ALL the data, since it is sorted by state, not random or by date of loan application.
df['RuralUrbanIndicator'].value_counts()

U    735719
R    164279
Name: RuralUrbanIndicator, dtype: int64

In [22]:
df['BusinessAgeDescription'].value_counts(normalize=True)

Existing or more than 2 years old         0.873735
New Business or 2 years or less           0.085020
Unanswered                                0.040848
Startup, Loan Funds will Open Business    0.000260
Change of Ownership                       0.000137
Name: BusinessAgeDescription, dtype: float64